@{
    ViewBag.Title = "Acasă";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-center mt-7">
    <h1 class="hero-title fw-bold"> RECENZII JOCURI VIDEO</h1>
    <p class="hero-subtitle">Urmărește și descoperă jocuri video.</p>
    <a class="btn btn-outline-light hero-button" href="@Url.Action("Login", "User")">Începe</a>
</section>


